extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Nivid Shah

        //- Feel free personalize the title below
        p.lead.text-light
          | Data Analyst.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I am a person who likes to do everything with an absolute involvement and dedication. 
            | I am always eager to learn new things and predict stuff with data. I never run to become perfectionist, instead I make myself better and better, as I believe that no matter how much we have achieved, there is always the space for improvement. 
            | I am seeking for good opportunity to enhance my knowledge and skills in the field environment.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Machine Learning
          li Artificial Intelligence
          li Data Analyst
          li Web Development
          li Mobile App Development
          li Neural Networks
        h6 Contact Info

        //- Add your own contact info
        ul
          li 778-245-2008
          li nividshah@email.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/nividshah') LinkedIn
        a.button.expanded(href='https://github.com/NIVIDSHAH/') GitHub
        a.button.expanded(href='https://twitter.com/shah_nivid') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  